.app-post{
  margin-top: 40px;
  height: 60vh;
}


footer{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

footer p{
  margin-bottom: 0px;
}

footer a{
  margin-left: 8px;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--purple);
}
