app-posts{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

footer{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

footer p{
  margin-bottom: 0px;
}

footer a{
  margin-left: 8px;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--purple);
}
