<div class="container-fluid">
  <div class="row mt-5">
      <div class="card shadow">
          <div class="card-body">
              <form>
                  <div class="header-login">
                      <h2>Welcome to Share your thoughts <br> Post App</h2>
                      <h4 class="text-dark text-muted">To continue please Login:</h4>
                  </div>
                  <div class="google-container row mt-2">
                      <a class="google-anchor" (click)="signInWithGoogle()">
                          <div class="card shadow text-center">
                              <div class="card-body-image">
                                  <img src="../../../assets/google-icon.png"> Sign In with Google
                              </div>
                          </div>
                      </a>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
