section{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

@media (min-width: 1440px) {
  section{
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
}

@media (min-width: 1800px) {
  section{
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
}

