<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="bootstrap snippets bootdey">
    <div>
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="../../../assets/avatar.png" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a routerLink="/detail/{{post.id}}"><b>{{ post.author }}</b></a>
                    </div>
                </div>
            </div>
            <div class="post-description">
                <p>{{ post.title }}</p>
            </div>
        </div>
    </div>
</div>
